<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear Database</title>
</head>
<body>

    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand bg-transparent" href="#">
                        <img src="/static/images/Green_Nature_Logo-removebg-preview.png" alt="Logo" width="50"
                            height="50" class="d-inline-block align-text-top">
                    </a>
                    <!-- <h3 class="groupNo">GROUP 15</h3>  -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('predict') }}">Soil Prediction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('soil_quality_standards') }}">Soil Quality
                                    Standards</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    
    <h1>Clear Database</h1>
    <p>Are you sure you want to clear your database entries?</p>
    <form action="/clear_database" method="post">
        <button type="submit">Yes, Clear Database</button>
    </form>
</body>

</html>
