<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROUP 15: CAPSTONE PROJECT</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <style>
        body {
            background-color: #e6bbc9;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand bg-transparent" href="#">
                        <img src="/static/images/Green_Nature_Logo-removebg-preview.png" alt="Logo" width="50"
                            height="50" class="d-inline-block align-text-top">
                    </a>
                    <!-- <h3 class="groupNo">GROUP 15</h3>  -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('predict') }}">Soil Prediction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('soil_quality_standards') }}">Soil Quality
                                    Standards</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <h4 class="text-center my-3">Hello, <span class="fw-bold bg-warning px-1 py-1 rounded">{{ name }}</span>! Welcome to
        <b>GROUP 15's</b> capstone project web application.</h4>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/slide1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block my-auto">
                    <h1 class="text-black">Soil Contamination Assessment</h1>
                    <p class="bg-light text-black fw-bold rounded">Involves evaluating the presence and extent of
                        harmful substances in the soil.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/Untitled-design.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-black">Soil Contamination Assessment</h1>
                    <p class="bg-light text-black fw-bold rounded">It aims to determine the potential risks posed by
                        contaminants in the soil to human health,
                        ecosystems and the environment as a whole.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/Untitled design (1).png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-black">Soil Contamination Assessment</h1>
                    <p class="bg-light text-black fw-bold rounded">Methods employed to assess soil contamination include
                        chemical analysis, field sampling, and
                        laboratory testing.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/contamination.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-black">Soil Contamination Assessment</h1>
                    <p class="bg-light text-black fw-bold rounded">Soil guideline values (SVGs) are often used as
                        benchmarksto assess the long-term exposure of
                        chemicals in soil on human health.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <footer class="footer">
        <div class="container">
            <p>Find us on:</p>

            <div class="social-icons">
                <a href="#" class="btn btn-outline-primary btn-lg"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="btn btn-outline-primary btn-lg me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="btn btn-outline-info btn-lg me-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-outline-danger btn-lg me-2"><i class="fab fa-instagram"></i></a>
            </div>

            <p>All Rights Reserved | Capstone Project Group 15</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>
