<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="/static/scripts.js"></script>
    <style>
        body {
            background-color: #dad7cd;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>

<body x-data="prediction">


    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand bg-transparent" href="#">
                        <img src="/static/images/Green_Nature_Logo-removebg-preview.png" style="background-color: #fff;"
                            alt="Logo" width="50" height="50" class="d-inline-block p-1 align-text-top">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{{ url_for('predict') }}">Soil Prediction</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href=" ">Map</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{{ url_for('soil_quality_standards') }}">Soil Quality
                                    Standards</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                            </li>
                            <li class="my-auto nav-item me-3">
                                <form action="/logout">
                                    <input type="submit" class="btn btn-sm fw-bold btn-danger" value="Logout">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <h1>Upload a File</h1>
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data" onsubmit="uploadFile(event)">
        <input type="file" name="file" id="fileInput">
        <input type="submit" value="Upload">
        <div id="progress"></div>
    </form>

    <p>Are you sure you want to clear your database entries?</p>
    <form action="/clear_database" method="post">
        <button type="submit">Yes, Clear Database</button>
    </form>

    <form action="/user_data">
        <input type="submit" class="btn btn-success" value="View My Data">
    </form>

    <div class="loading-spinner" id="loading-spinner">
        <img src="/static/images/Green_Nature_Logo-removebg-preview.png" alt="logo"><br>
        Processing... Please Wait
        <div class="progress">
            <!-- Add bg-success class here -->
            <div class="progress-bar bg-success" id="progress-bar" role="progressbar"></div>
        </div>
    </div>

    <!-- Add this button to your HTML file -->
    <button onclick="viewDatabase()">View Database</button>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function () {
            document.body.classList.add('loading'); // Add 'loading' class to body
            document.getElementById('loading-spinner').style.display = 'block';
        });

        function viewDatabase() {
            window.location.href = '/user_data';
        };

        function uploadFile(event) {
            event.preventDefault();
            const formData = new FormData();
            const fileInput = document.getElementById('fileInput');
            formData.append('file', fileInput.files[0]);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);

            xhr.upload.onprogress = function (e) {
                if (e.lengthComputable) {
                    const percentComplete = (e.loaded / e.total) * 100;
                    document.getElementById('progress').innerText = `Progress: ${Math.round(percentComplete)}%`;
                    // Update progress bar width
                    document.getElementById('progress-bar').style.width = `${Math.round(percentComplete)}%`;
                }
            };

            xhr.onload = function () {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    if (response.result_filename) {
                        // Ask user if they want to download the file
                        var download = confirm("Do you want to download your results file?");
                        if (download == true) {
                            window.location.href = `/download/${response.result_filename}`;
                            // Update progress bar text
                            document.getElementById('progress-bar').innerText = 'Analysis done and file has been downloaded';
                        } else {
                            // User chose not to download the file
                            alert("You chose not to download the file.");
                        }
                    } else {
                        alert('Invalid file type');
                    }
                } else {
                    alert('Error uploading file');
                }
                // Hide loading spinner
                document.getElementById('loading-spinner').style.display = 'none';
            };

            xhr.send(formData); // Send the form data
        }
    </script>
</body>

</html>