<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="/static/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        body.loading {
            background-color: rgba(255, 255, 255, 0.5);
            /* Semi-transparent white background */
        }

        .loading-spinner {
            display: none;
            font-size: 30px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .loading-spinner img {
            width: 100px;
            /* Adjust the width */
            height: 100px;
            /* Adjust the height */
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand bg-transparent" href="#">
                        <img src="/static/images/Green_Nature_Logo-removebg-preview.png" alt="Logo" width="50"
                            height="50" class="d-inline-block align-text-top">
                    </a>
                    <!-- <h3 class="groupNo">GROUP 15</h3>  -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('predict') }}">Soil Prediction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('show_map') }}">Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('soil_quality_standards') }}">Soil Quality
                                    Standards</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <h1>Upload a File</h1>
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data" onsubmit="uploadFile(event)">
        <input type="file" name="file" id="fileInput">
        <input type="submit" value="Upload">
        <div id="progress"></div>
    </form>

        <p>Are you sure you want to clear your database entries?</p>
    <form action="/clear_database" method="post">
        <button type="submit">Yes, Clear Database</button>
    </form>

    <form action="/user_data">
        <input type="submit" class="btn btn-success" value="View My Data">
    </form>

    <div class="loading-spinner" id="loading-spinner">
        <img src="/static/images/Green_Nature_Logo-removebg-preview.png" alt="logo"><br>
        Processing... Please Wait
        <div class="progress">
            <!-- Add bg-success class here -->
            <div class="progress-bar bg-success" id="progress-bar" role="progressbar"></div>
        </div>
    </div>

    <!-- Add this button to your HTML file -->
    <button onclick="viewDatabase()">View Database</button>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function () {
            document.body.classList.add('loading'); // Add 'loading' class to body
            document.getElementById('loading-spinner').style.display = 'block';
        });

        function viewDatabase() {
            window.location.href = '/user_data';
        };

        function uploadFile(event) {
            event.preventDefault();
            const formData = new FormData();
            const fileInput = document.getElementById('fileInput');
            formData.append('file', fileInput.files[0]);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);

            xhr.upload.onprogress = function (e) {
                if (e.lengthComputable) {
                    const percentComplete = (e.loaded / e.total) * 100;
                    document.getElementById('progress').innerText = `Progress: ${Math.round(percentComplete)}%`;
                    // Update progress bar width
                    document.getElementById('progress-bar').style.width = `${Math.round(percentComplete)}%`;
                }
            };

            xhr.onload = function () {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    if (response.result_filename) {
                        // Ask user if they want to download the file
                        var download = confirm("Do you want to download your results file?");
                        if (download == true) {
                            window.location.href = `/download/${response.result_filename}`;
                            // Update progress bar text
                            document.getElementById('progress-bar').innerText = 'Analysis done and file has been downloaded';
                        } else {
                            // User chose not to download the file
                            alert("You chose not to download the file.");
                        }
                    } else {
                        alert('Invalid file type');
                    }
                } else {
                    alert('Error uploading file');
                }
                // Hide loading spinner
                document.getElementById('loading-spinner').style.display = 'none';
            };

           xhr.send(formData); // Send the form data
       }
    </script>
</body>

</html>
